// .benefits__container {
//   display: flex;
//   flex-wrap: 270px;
// }

.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.benefits__item {
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.benefits__title {
  color: var(--title-text-color);

  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;

  margin-bottom: 10px;
  // width: 270px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__content {
  @extend %align-list;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.benefits__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
