.hero {
  margin: 0 auto 0 auto;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;

  @media screen and (max-width: 767px) {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mob-img.jpg);
    max-width: 480px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-mob-img@2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tab-img.jpg);
    max-width: 768px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tab-img@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-dt-img.jpg);
    max-width: 1600px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-dt-img@2x.jpg);
    }
  }
}

.hero__title {
  display: block;
  font-weight: 900;
  color: var(--primary-white-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: calc(42 / 26);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__button {
  display: block;
  border-radius: 4px;
  border: transparent;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
  }
}
