.logo {
  padding-top: 25px;
  padding-bottom: 24px;

  color: #000000;
  font-family: 'Raleway', cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__web {
  color: var(--accent-color);
}
